<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Page Title</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="main.css">
  <script src="main.js"></script>
</head>
<body>
  <h1>Bienvenido al Turnero de la DGRM</h1>
  <p>Para empezar, selecciones una opcion del siguiente menu:</p>
  <a href="/emisor">Emisor de Turnos</a>
  <a href="/llamador">Llamador de Turnos</a>
  <a href="/visor">Visor de Turnos</a>
  <p><small>Por cualquier inconveniente, comuniquese con el desarrrollador: Patricio Peña, o con la Direccion General de Sistemas de Informacion.</small></p>
</body>
</html>